<div class="container-fluid">
  <div class="journal-main">
    <h6>{{user.displayName}}</h6>
    <p>This is the user's journal page</p>
    <div>
      {{!-- ! Fix this so that it only displays when user is looking at their own journal --}}
      <a href="/entries/add" class="btn btn-primary btn-lg"><i class="fa-solid fa-pen fa-fw"></i> Write</a>
    </div>
  </div>
  {{#if entries}}
    <div class="entry-list">
      <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each entries}}
          <tr>
            <td scope="row"><a href="/entries/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do, YYYY'}}</td>
            <td><span class="status">{{status}}</span></td>
          </tr>
        {{/each}}    
      </tbody>
    </table>
  {{else}}
    <p class="entry-list">You have no entries</p>
  {{/if}}
</div>
</div>