{{!-- CHANGE ALL THE CLASSES TO BOOTSWATCH --}}
<div class="container-fluid">
    <div class="container-fluid card-entry">
        <div class="container-fluid">
            <h3>{{entry.title}}
                <small>{{{editIcon entry.user user entry._id false}}}</small>
            </h3>
            <div class="card-entry">
                <div class="card-content">
                    <span class="card-title">{{formatDate entry.createdAt 'MMMM Do, YYYY, h:mm a'}}</span>
                    {{{entry.body}}}
                </div>
            </div>
        </div>
        <div class="container-fluid card-author">
            <div class="card border-light mb-3">
                <div class="card-content author-card">
                    {{!Change: add 'referrerpolicy="no-referrer"' to stop Google from blocking access to the profile images}}
                    <img src="{{entry.user.image}}" referrerpolicy="no-referrer" class="circle responsive-img img-small">
                    <p class="card-title">{{entry.user.displayName}}</p>
                </div>
                <div class="card-action">
                    <a href="/entries/user/{{entry.user._id}}">More from {{entry.user.firstName}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h3>Notes</h3>
        <form action="/entries/{{entry._id}}/note" method="POST">
            <div class="form-group">
                {{!-- How to set label for notes schema or for body of a note --}}
                <label for="body" class="form-label mt-4">Leave a Note</label>
                <textarea class="form-control" id="body" name="body" rows="3"></textarea>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="#" class="btn btn-link">Cancel</a>
            </div>
        </form>
</div>

<div class="container-fluid">
    {{#each notes}}
    <div class="card">
        <div class="card-body">
            <p class="card-text">{{{body}}}</p>
            <p class="card-text">Note from <a href="/entries/user/{{user._id}}">{{user.displayName}}</a></h4>
        </div>
        <div class="card-footer text-muted">{{formatDate createdAt 'MMMM Do, YYYY'}}</div>
    </div>
    <br>
    {{else}}
    <p>There are no notes</p>
    {{/each}}
</div>

